
[log]
type = "console"
level = "debug"

[metric]
type = "terminal"
refresh_interval_ms = 100

[discovery]
type = "multicast"
interface_address = "0.0.0.0:3002"
multicast_address = "224.0.0.1:3001"

[transport]
type = "direct"
local_address = "localhost:4002"
request_timeout_ms = 5000
balancer = { type = "dynamic_round_robin" }

[[relay]]
type = "http_static"
header_field = "X-Delix-Service"

[[relay.service]]
name = "slashdot"
address = "slashdot.org:80"
